.barcon {
    display: flex;
    justify-content: space-between;
    margin: 0%;
}

.barcon img {
    height: 100px;
    margin-left: 50px;
    margin-top: 30px;
}

.barstyle {
    list-style: none;
    width: 600px;
    height: 45px;
    margin: 0%;
    padding: 5px 50px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}

#bar:link {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#bar:hover {
    text-decoration: underline 8px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#bar:visited {
    color: white;
}

.btn1, .btn2 {
    font-family: 'MantouSans-Regular';
    width: 520px;
    outline: none;
    border: 3px solid;
    font-weight: 300;
    font-size: 30px;
    cursor: pointer;
    margin: 0px 0px;
}

.btn1-style {
    background-color: #000000;
    border-color: #000000;
    color: #fff;
}

.btn1-style:hover {
    background-color: #ec9837;
    border-color: #ec9837;
    color: #000000;
}

.btn2-style {
    background-color: #d6d6d6;
    border-color: #d6d6d6;
    color: #000000;
}

.btn2-style:hover {
    background-color: #ecd137;
    border-color: #ecd137;
    color: #ffffff;
}

.btn3 {
    background-color: #000000;
    font-family: 'MantouSans-Regular';
    padding: 5px 20px;
    width: 510px;
    outline: none;
    border: 3px solid #000000;
    font-weight: 300;
    font-size: 30px;color: #fff;
    cursor: pointer;
    margin-top: 10px;
}

.btn3:hover {
    background-color: #f4f4f4;
    font-family: 'MantouSans-Regular';
    padding: 5px 20px;
    width: 510px;
    outline: none;
    border: 3px solid #000000;
    font-weight: 300;
    font-size: 30px;color: #000000;
    cursor: pointer;
    margin-top: 10px;
}

.container {
    display: flex;
    justify-content: flex-start;
}

.input {
    outline: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 20px;
    width: 470px;
    border: 3px solid #000000;
    background-color: #f4f4f4;
    font-size: 30px;
    font-family: 'MantouSans-Regular';
    text-align: center;
}

.main_container {
    margin-top: 35px;
    margin-left: 200px;
}

.cal_container {
    display: flex;
    justify-content: start;
}

.category {
    height: 200px;
    width: 300px;
    border: 3px solid #000000;
    background-color: #f4f4f4;
    margin-bottom: 5px;
}

.caterow {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.caterow a{
    color: #000000;
    text-decoration: none;
}

.spendbtn {
    width: 60px;
    height: 60px;
    margin: 0px;
    border: none;
    cursor: pointer;
}

.btnill {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    text-align: center;
}

.btnilldiv {
    display: flex;
    flex-direction: column;
    margin: 5px;

}

.sum {
    height: 200px;
    width: 300px;
    border: 3px solid #000000;
    background-color: #f4f4f4;
    margin-bottom: 5px;
}

.sumdiv {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.input_reset{
    all: unset;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    outline: none;
}

.spendrecord {
    outline: none;
    width: 270px;
    margin-top: 3px;
    margin-bottom: 3px;
    border: 3px solid #000000;
    background-color: #f4f4f4;
    font-size: 25px;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

}

.spendintr {
    width: 60px;
    height: 60px;
}

.spendintr_txt {
    font-size: 40px
}

#calc-display-val {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    width: 270px;
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 40px;
    overflow: hidden;
    /*數字輸入太多時不要超過欄位*/
    white-space: nowrap;
    /*數字輸入太多時不要換行*/
    padding: 0px;
    /*結果欄位的數字跟欄位的padding*/
}

.journal {
    height: 409px;
    width: 200px;
    border: 3px solid #000000;
    background-color: #f4f4f4;
    margin-bottom: 5px;
    margin-left: 5px;
}

.journaldiv {
    margin-left: 5px;
}

.jourrecord {
    outline: none;
    width: 180px;
    height: 350px;
    margin-top: 3px;
    margin-bottom: 3px;
    border: 3px solid #000000;
    background-color: #f4f4f4;
    font-size: 20px;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding: 0; /* 移除内边距 */
    text-align: left; /* 从左边开始对齐 */
    vertical-align: top; /* 从顶部开始对齐 */
    resize: none;
}

.calculate {}

.calculate_cut {
    display: flex;
    flex-direction: row;
}

.calc-btn {
    background: rgb(0, 0, 0);
    color: #f4f4f4;
    width: 100px;
    height: 50px;
    border: 0.5px solid #f4f4f4;
    text-align: center;
    cursor: pointer;
    font-size: 32px;
    font-weight: 100;
    padding-top: 3px;
}

.calc-btn:hover {
    background: rgb(184, 184, 184);
    color: #000000;
    width: 100px;
    height: 50px;
    border: 0.5px solid #f4f4f4;
    text-align: center;
    cursor: pointer;
    font-size: 32px;
    font-weight: 100;
    padding-top: 3px;
}


.calc-check-btn {
    background: rgb(0, 0, 0);
    color: #f4f4f4;
    width: 100px;
    height: 105px;
    border: 0.5px solid #f4f4f4;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    font-size: 32px;
    font-weight: 100;
    padding-top: 3px;
}

.calc-check-btn:hover {
    background: rgb(255, 196, 0);
    color: #000000;
    width: 100px;
    height: 105px;
    border: 0.5px solid #f4f4f4;
    text-align: center;
    cursor: pointer;
    font-size: 32px;
    font-weight: 100;
    padding-top: 3px;
}

.row {
    display: table;
    table-layout: fixed;
    width: 200px;
}

.col {
    display: flex;
    flex-direction: column;
    width: 200px;
    bottom: 0;
}

.column {
    display: table-cell;
}

#calc-zero {
    width: 202.5px;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

#calc-equals {
    border-radius: 0 0 7px 0;
}

.v-line {
    height: 800px;
    width: 0px;
    border-left: #000000 dashed 1px;
    margin: 0px 30px 0px 30px;
    border-spacing: 5px;
}

.vice_container {
    margin-left: 30px;
}

.recordsum {
    width: 750px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.recordsum_txt {
    margin-right: 50px;
}

.recordintr {
    display: flex;
    justify-content: space-between;
    margin: 8px 0px 8px 0px;
}


.col_vice {
    display: flex;
    flex-direction: column;
}

.recordintr_txt {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    margin: 5px 0px 5px 0px;
}

.colldisplay {
    width: 1030px;
    height: 550px;
    overflow: auto;
    margin-top:30px;
}

.colldisplay_area {
    border: #000000 solid 3px;
    max-width: 1000px; /* 设置最大宽度 */
    max-height: 250px; /* 设置最大高度 */
    overflow: auto; /* 当内容溢出时显示滚动条 */
}



.colldisplay_header {
    display: flex;
    justify-content: start;
    align-items: center;
}

.colldisplay_header-close {
    border-bottom: #000000 solid 3px;
    border-right: #000000 solid 3px;
    width: 65px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.colldisplay_header-close img {
    width: 35px;
}

.colldisplay_header-date {
    border-bottom: #000000 solid 3px;
    width: 1000px;
    height: 50px;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    letter-spacing: 3px;
    display: flex;
    justify-content: space-between;
}

.colldisplay_container-txt {
    display: flex;
    justify-content: space-between;
    margin: 5px 10px 5px 10px;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;

}





