.barcon {
    display: flex;
    justify-content: space-between;
    margin: 0%;
}

.barcon img {
    height: 100px;
    margin-left: 50px;
    margin-top: 30px;
}

.barstyle {
    list-style: none;
    width: 600px;
    height: 45px;
    margin: 0%;
    padding: 5px 50px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}

#bar:link {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#bar:hover {
    text-decoration: underline 8px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#bar:visited {
    color: white;
}

#accimg {
    border-radius: 150px;
    border: 5px solid #000;
    width: 2s00px;
    height: 200px;
}

.date{
    font-size: 45px;
    background-color: #000;
    color: #fff;
    width: 600px;
    text-align: center;
}

.co_record{
    height: 500px;
    width: 1200px;
    border: #000 solid 3px;
    margin-top: 20px;
}

.table{
    font-size: 50px;
}

.select {
    background-color: lightgray;
    color: black;
    border: 1px solid #000000; 
    font-size: 30px;
}