.barcon {
    display: flex;
    justify-content: space-between;
    margin: 0%;
}

.barcon img {
    height: 100px;
    margin-left: 50px;
    margin-top: 30px;
}

.barstyle {
    list-style: none;
    width: 600px;
    height: 45px;
    margin: 0%;
    padding: 5px 50px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}

#bar:link {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#bar:hover {
    text-decoration: underline 8px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#bar:visited {
    color: white;
}

#accimg {
    border-radius: 150px;
    border: 5px solid #000;
    width: 2s00px;
    height: 200px;
}

.date{
    font-size:60px;
    background-color: #000;
    color: #fff;
    width: 800px;
    text-align: center;
    
}

.container{
    margin-top: 80px;
    margin-left: 100px;
}

.co_record{
    height: 180px;
    width: 1200px;
    border: #000 solid 5px;
    margin-top: 20px;
    
}

.table{
    margin: 10px 10px 10px 10px;
    font-size: 50px;
    width: 1200px;
}

.select {
    background-color: lightgray;
    color: black;
    border: none; 
    border-radius: 10px;
    font-size: 40px;
}


input[type="checkbox"] {
    appearance: none;
    width: 30px;
    height: 30px;
    border: 3px solid #000000;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    position: relative;
    margin-left: 10px;
}

input[type="checkbox"]:checked {
    background-color: #bf8b2e;
    border: 3px solid #bf8b2e;
}

input[type="checkbox"]:checked::after {
    content: "\2713";  /* 使用 Unicode 字符 √ */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}

input[type="checkbox"]:hover {
    border-color: #bf8b2e;
}

.garrec{
    height: 50px;
    width: 1200px;
    background-color: lightgray;
    font-size: 30px;
    border-radius: 20px;
    margin-top: 20px;
}

