* {
    margin: 0;
}

.body_index {
    font-family: 'MantouSans-Regular';
    background-color: #F4F4F4;
    background-image: url(../images/b-logo.png);
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    background-position: -900px 1px;
}

.body {
    font-family: 'MantouSans-Regular';
    background-color: #F4F4F4;
    background-image: url(../images/b-logo.png);
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    background-position: 1200px 20px;
    animation: slideIn 0.9s forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}


.body_login{
    font-family: 'MantouSans-Regular';
    background-color: #F4F4F4;
    background-image: url(../images/b-logo.png);
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    background-position: 50px -20px;
}

.body_map{
    font-family: 'MantouSans-Regular';
    background-color: #F4F4F4;
    background-image: url(../images/b-logo2.png);
    background-repeat: no-repeat;
    background-size: 5760px 3240px;
    background-position: -1700px 20px;
}

#bar:link {
    text-decoration: none;
    color: rgb(255, 255, 255)!important;
}

@font-face {
    font-family: MantouSans-Regular;
    src: url('../webfont/MantouSans-Regular.woff2') format('woff2');
}